.header {
    background-color: #000 !important;
    color: #fff;
}

.list {
    width: 100%;
    position: relative;
    overflow: auto;
    height: 355px;
    margin: 0 20px 0 5px;
    background-color: dodgerblue;
}
